.experience {
  margin-top: 20vh;
  &__item {
    display: flex;
    align-items: center;
    background-color: $grey;
    padding: 4px;
    margin: 15px 0;
    @media (max-width: 600px) {
      flex-direction: column-reverse;
    }
  }
  &__title {
    @include section-title;
    margin-top: 50px;
  }
  &__image {
    height: 150px;
    margin: 0 20px;
  }
  &__name {
    @include title;
  }
  &__info {
    background-color: $mid-black;
    padding: 15px;
  }
  &__link {
    background-color: $white;
    color: $black;
    font-family: "cubano";
    padding: 5px;
    border-radius: 5px;
    width: fit-content;
    margin: 0 auto;
    transition: transform 0.6s cubic-bezier(0.5, 1, 0.89, 1);
    &:hover {
      background-color: $black;
      border: 2px solid $white;
      color: $white;
      cursor: pointer;
      transform: scale(1.05);
    }
  }
}
