@import "variables.scss";
@import "typography.scss";
@import "navbar.scss";
@import "about.scss";
@import "projects.scss";
@import "experience.scss";
@import "skills.scss";
@import "contact.scss";
@import "footer.scss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: $black;
  font-family: "Outfit";
  font-size: 1.4rem;
  color: $white;
  max-width: 2000px;
  margin: 0 auto;
  padding: 0 20px;
  @media (max-width: 768px) {
    padding: 5px;
  }
}

a:link {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

a:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}
