.projects {
  background-color: $black;
  margin-top: 20vh;
  &__title {
    @include section-title;
    margin-bottom: 50px;
  }
  &__container {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    // @media (min-width: 768px) {
    // }
  }
  &__item {
    display: flex;
    flex-direction: column;
    background-color: $grey;
    padding: 4px;
    min-height: 400px;
  }
  &__video {
    width: 100%;
  }
  &__info {
    background-color: $mid-black;
    height: 100%;
    padding: 15px;
  }
  &__name {
    font-family: "cubano";
    font-size: 2rem;
  }
  &__list {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
  }
  &__tech {
    background-color: $grey;
    width: max-content;
    padding: 0 10px;
    border-radius: 5px;
  }
  &__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 150px;
  }
  &__live {
    padding: 0 5px;
    border-radius: 3px;
    &:hover {
      color: $black;
      background-color: $white;
    }
  }
}
